*{
	margin: 0;
	padding: 0;
}
.con{
	width: 800px;
	margin: 0 auto;
}
.content{
	float: left;
	width: 648px;
	height: 648px;
	background-color: rgb(187,173,160);
	border-radius: 5px;
	overflow: hidden;
	padding: 6px;
}
.piece{
	width: 150px;
	height: 150px;
	background-color: rgba(255,255,255,0.3);
	margin: 6px;
	float: left;
	border-radius: 5px;
	color: rgb(119,110,101);
	text-align: center;
	line-height: 150px;
	font-weight: bold;
	font-size: 70px;
}
.piece-init{
}
#score{
	width: 100px;
	height: 50px;
	background-color: rgb(187,173,160);
	border:2px solid  black;
	float: left;
	margin: 350px 0 0 20px;
	line-height: 50px;
	text-align: center;

}
